html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #444;
}

* {
  padding: 0;
  margin: 0;
}

.error-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.error-stack {
  background: #edecea;
  padding: 100px 80px;
  box-sizing: border-box;
}

.error-status {
  color: #afafaf;
  font-size: 150px;
  position: absolute;
  opacity: 0.2;
  right: 80px;
  top: 80px;
  font-weight: 600;
  margin-bottom: 10px;
}

.error-name {
  color: #db5461;
  font-size: 18px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 600;
  margin-bottom: 15px;
}

.error-message {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
}

.error-title {
  border-bottom: 1px solid #d0cfcf;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.error-frames {
  display: flex;
  flex-direction: row-reverse;
}

.frame-preview {
  background: #fff;
  width: 50%;
  box-shadow: 0px 0px 9px #d3d3d3;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.frame-stack {
  margin-right: 40px;
  flex: 1;
  padding: 10px 0;
  box-sizing: border-box;
}

.frames-list {
  overflow: auto;
  max-height: 334px;
}

.frames-filter-selector {
  margin-bottom: 30px;
  margin-left: 8px;
}

.request-details {
  padding: 50px 80px;
}

.request-title {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0 5px 5px 5px;
  margin-bottom: 15px;
}

.request-details table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 80px;
}

.request-details table td {
  padding: 6px 5px;
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #455275;
  border-bottom: 1px solid #e8e8e8;
  word-break: break-word;
}

.request-details table td.title {
  color: #999;
  width: 40%;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

code[class*="language-"], pre[class*="language-"] {
  background: transparent;
  font-size: 13px;
  line-height: 1.8;
}

.line-numbers .line-numbers-rows {
  border: none;
}

.frame-row {
  display: flex;
  justify-content: space-between;
  padding: 6px 34px 6px 10px;
  position: relative;
  cursor: pointer;
  transition: background 300ms ease;
}

.frame-row.native-frame {
  display: none;
  opacity: 0.4;
}

.frame-row.native-frame.force-show {
  display: flex;
}

.frame-row:after {
  content: "";
  background: #db5461;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 10px;
  width: 10px;
  border-radius: 24px;
}

.frame-row:hover, .frame-row.active {
  background: #fff;
}

.frame-row.active {
  opacity: 1;
}

.frame-row-filepath {
  color: #455275;
  font-weight: 600;
  margin-right: 15px;
}

.frame-context {
  display: none;
}

.frame-row-code {
  color: #999;
}

#frame-file {
  color: #455275;
  font-weight: 600;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 22px;
}

#frame-method {
  color: #999;
  font-weight: 400;
  border-top: 1px solid #e8e8e8;
  padding: 10px 22px;
}

.is-hidden {
  display: none;
}

@media only screen and (max-width: 970px) {
  .error-frames {
    flex-direction: column-reverse;
  }

  .frame-preview {
    width: 100%;
  }

  .frame-stack {
    width: 100%;
  }
}
